.backph{
    background-image: url(images/bg.jpg)
}
.vishnu{
    font-size: 20px;
     text-align: right;  
    font-family: sans-serif;
    color: #6c757d;
}
.data{
    margin-left: 313px;
    text-align: center;
    color: aliceblue;
    background-color: dimgray;
    opacity: 1.25;
    width: 373px;
    height: auto;
    border-radius: 25px 150px;
}
